.nosotros-content {
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    blockquote {
        font-weight: $black;
        text-align: left;
        font-size: 2.2rem;
        margin: 3rem 0 0 0;

        @include tablet {
            margin: 0;
        }
    }
}